.welcomeFlex {
  display: flex;
  justify-content: space-between;
  margin: 90px 0px;
  gap: 20px;
  /* height: 100vh; */
}

.left {
  width: 400px;
  border-radius: 20px;
  padding: 40px 20px 10px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 15px 0px #d8d8d8;
  transition: min-height 0.5s ease;
  /* transition: minHeight 0.5s ease; */
}

.left > div {
  margin-top: 20px; /* 마진 설정 */
}

.p {
  color: #b5b5b5;
}

.span {
  text-decoration: underline;
  cursor: pointer;
}
