:root {
  --primary-100: #2563eb;
  --primary-200: #598ef3;
  --primary-300: #d3e6fe;
  --accent-100: #d946ef;
  --accent-200: #fae8ff;
  --text-100: #000000;
  --text-200: #2c2c2c;
  --text-300: #666666;
  --bg-100: #f8fbff;
  --bg-200: #eef1f5;
  --bg-300: #c5c8cc;
  --bg-400: #ffffff;
  --bg-500: #d8d8d8;
  --header2: #eef1f5;
}

.nav {
  position: relative;
  z-index: 100;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.toggle {
  background-color: var(--primary-300);
  padding: 10px;
  position: absolute;
  top: 45px;
  border-radius: 10px;
  text-align: center;
}

.togglebtn {
  cursor: pointer;
  color: var(--primary-200);
  background-color: var(--bg-100);
  border: none;
  border: solid 1px var(--primary-100);
  outline: none;
  margin-top: 10px;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
}

.togglebtn:hover {
  background-color: var(--bg-200);
}
